@tailwind base;
@tailwind components;
@tailwind utilities;

.bg1{
    background-image:url('../public/bg(1).jpeg')
}

.bg2{
  background-image:url('../public/bg (2).jpeg')
}

.bg3{
  background-image:url('../public/bg(3).jpeg')
}
